<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title color="light">Connexion</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="">Inscription</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        <ion-card-title>VEUILLEZ-VOUS INSCIRE !</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-no-margin">
        <ion-item>
         <ion-icon name="mail" slot="start" color="success"></ion-icon>
         <ion-input type="email"
                    fill="outline"
                    label="Email"
                    labelPlacement="floating"
                    helperText="Enter a valid email"
                    errorText="Invalid email"
                    ngModel
                    email
         ></ion-input>
       </ion-item>

        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start" color="success"></ion-icon>
          <ion-input errorText="Mots de passe invalide"
                     fill="outline"
                     helperText="Entrer le mots de passe"
                     label="Mots de passe"
                     labelPlacement="floating"
                     ngModel
                     type="password"
          ></ion-input>
        </ion-item>

        <p class="ion-text-right ion-margin-horizontal">
          <ion-text id="forgot_password"
                    color="medium">Mots de passe oublié
          </ion-text>
        </p>
        <ion-button
          color="success"
          routerLink="/modules"
          shape="round">Connexion</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-modal
    #forgot_pwa_modal
    trigger="forgot_password"
    cssClass="inline_modal">

    </ion-modal>
  </ion-content>
