<ion-header [translucent]="true">
  <ion-toolbar color="medium">
    <ion-title color="success">Inscription</ion-title>
    <ion-buttons slot="start">
      <ion-back-button  defaultHref="home" text="">Inscription</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
    <ion-card>
      <ion-card-header>
        <ion-card-title>VEUILLEZ-VOUS INSCIRE !</ion-card-title>
      </ion-card-header>

      <ion-card-content class="ion-no-margin">
        <ion-item>
          <ion-icon name="person-outline" slot="start" color="success"></ion-icon>
          <ion-input
            type="Nom complet"
            fill="outline"
            label="Votre nom"
            labelPlacement="floating"
            helperText="Votre nom complet"
            ngModel>
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="mail" slot="start" color="success"></ion-icon>
          <ion-input type="email"
                     fill="outline"
                     label="Email"
                     labelPlacement="floating"
                     helperText="Enter a valid email"
                     errorText="Invalid email"
                     ngModel
                     email
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="book-outline" slot="start" color="success"></ion-icon>
          <ion-input type="text"
                     fill="outline"
                     label="Université"
                     labelPlacement="floating"
                     helperText="Votre Université"
                     errorText="Invalide"
                     ngModel
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-icon name="lock-closed-outline" slot="start" color="success"></ion-icon>
          <ion-input type="password"
                     fill="outline"
                     label="Mots de passe"
                     labelPlacement="floating"
                     helperText="Entrer le mots de passe"
                     errorText="Mots de passe invalide"
                     ngModel
          ></ion-input>
        </ion-item>

        <p class="ion-text-right ion-margin-horizontal">
          <ion-text routerLink="/login" color="medium">J'ai déjà un compte</ion-text>
        </p>
        <button class="w-20 btn btn-sm btn btn-outline-success" routerLink="/modules" type="submit">Connexion </button>

      </ion-card-content>

    </ion-card>

  </ion-content>
